.info-media-dialog-appBar {
  position: relative;
}

.info-media-dialog-flex {
  flex: 1;
}

.Info-media-dialog__container {
  width: 80vw;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.Info-media-dialog__video {
  width: 50vw;
  height: 25vw;
  min-height: 200px;
  margin: 5vh 0 0 15vw;
}

.Info-media-dialog__container-info {
  margin-left: 15vw;
  width: 50vw;
}

.info-media-dialog__clips-title, .info-media-dialog__title-author,
.info-media-dialog__add-clip-title {
  text-align: center!important;
  margin: 10vh 0 5vh 0!important;
}

.info-media-dialog__description {
  margin-bottom: 3vh!important;
}

.info-media-dialog__add-clip-title-button {
  margin: 0!important;
}

.Info-media-dialog__add-clip-button-container {
  width: fit-content;
  text-align: center!important;
  margin: 5vh auto!important;
}

.info-media-dialog__text-field-min, .info-media-dialog__text-field-seg{
  width: 10vw;
  margin-right: 2vw!important;
}

.info-media-dialog__text-field-clip-name {
  width: 15vw;
}
.info-media-dialog__text-field-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-media-dialog__name-clip {
  font-weight: bold!important;
}

.info-media-dialog__text-field-seg-right {
  margin: 0!important;
  width: 10vw;
}

.info-media-dialog__start-hour-clip {
  margin: 3vh 0 3vh 0!important;
  font-weight: bold!important;
}

